<div class="alert alert-warning border-warning border-1 rounded-top rounded-0 m-0 d-flex align-items-center" role="alert">
    <i data-feather="alert-triangle" class="text-warning me-2 icon-sm"></i>
    <div class="flex-grow-1 text-truncate">
        Votre compte n'est pas <b>vérifié. </b>
    </div>
    <div class="flex-shrink-5">
        <a href="" type="button" class="btn btn-warning text-decoration-underline"><b>Validation</b></a>
    </div>
</div>