{% extends 'base.html.twig' %}

{% block title %}New Fluide{% endblock %}

{% block body %}
    <h1>Create new Fluide</h1>

    {{ include('fluide/_form.html.twig') }}

    <a href="{{ path('app_fluide_index') }}">back to list</a>
{% endblock %}
